<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sans.web.user_order.mapper.UserOrderMapper">
    <select id="getDays" resultType="com.sans.web.user_order.entity.SunList">
        select DATE_FORMAT(create_time,'%Y-%m-%d')days,sum(price)price  from user_order where `status` = '2' group by days order by days asc
    </select>
    <select id="getMonths" resultType="com.sans.web.user_order.entity.SunList">
        select DATE_FORMAT(create_time,'%Y-%m')days,sum(price)price  from user_order where `status` = '2' group by days order by days asc
    </select><select id="getYears" resultType="com.sans.web.user_order.entity.SunList">
        select DATE_FORMAT(create_time,'%Y')days,sum(price)price  from user_order where `status` = '2' group by days order by days asc
    </select>

</mapper>